@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background: #fff;
  --foreground: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--scroll-speed) linear infinite;
}

.scroller-inner {
  width: max-content;
}

.scroller-inner.paused {
  animation-play-state: paused;
}